/*----- Tabs -----*/
html {

}
body {
    height: 100%;
    /*background: #000;*/
    background-image: url("../img/bg.jpg");
    text-size-adjust: none;
    text-rendering: optimizeLegibility;
}


.tabs {
  width:100%;
  background: #117864;
  display:inline-block;

}

/*----- Tab Links -----*/
/* Clearfix */
.tab-links:after {
  display:block;
  clear:both;
  content:'';
}

li {
    display: inline-block;
    //padding: 20px 0 20px;
    vertical-align: middle;
}
a:hover, a:focus, a:active {
    color: #999;
    text-decoration: none;
}
a {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    text-decoration: none;
    transition: color 0.1s, background-color 0.1s;
}
a {
    position: relative;
    display: block;
    padding: 16px 0;
    margin: 0 12px;
    letter-spacing: 1px;
    font-size: 12px;
    line-height: 16px;
    font-weight: 900;

    transition: color 0.1s,background-color 0.1s,padding 0.2s ease-in;
    color: #000;
}
a::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 3px;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #000;
    transform-origin: right top;
    transform: scale(0, 1);
    transition: color 0.1s,transform 0.2s ease-out;
}
a:active::before {
    background-color: #000;
}
a:hover::before, a:focus::before {
    transform-origin: left top;
    transform: scale(1, 1);
}

.tab-links li {
  float:left;
  list-style:none;
  background: #fff;
}

.tab-links {
  background: #fff;
  width: 40%;
  padding-left: 25px;
  text-transform: uppercase;
}
/***
.tab-links a {
  display:inline-block;
  font-size:23px;
  font-weight:600;
  color: #117864;
  transition:all linear 0.15s;
  text-decoration: none;
}

.tab-links a:hover {
  text-decoration: underline;

}

li.active a, li.active a:hover {
  color:#4c4c4c;
  text-decoration: underline;
}****/


/*----- Content of Tabs -----*/
.tab-content {
  padding:15px;
  border-radius:3px;
  /*background: #6E2C00;*/
  background-image: url("../img/bg.jpg");
  color: #fff;
}

.tab {
  display:none;
}

.tab.active {
  display:block;
}



/**Login | Sign Up********/
.login_signup a{
  color: #fff;
  text-decoration: none;
}

.login_signup {
  padding: 20px;
  float: right;
}

.login_signup a:hover {

}



/****Table******************/
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300,100);

body {
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

div.table-title {
   display: block;
  margin: auto;
  max-width: 80%;
  padding:5px;
  width: 100%;
}

.table-title h3 {
   color: #fafafa;
   font-size: 30px;
   font-weight: 400;
   font-style:normal;
   font-family: "Roboto", helvetica, arial, sans-serif;
   text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
   text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
  background: black;
  border-radius:3px;
  border-collapse: collapse;
  height: 320px;
  margin: auto;
  max-width: 80%;
  padding:5px;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  animation: float 5s infinite;
}

th {
  color:#D5DDE5;;
  background:#1b1e24;
  border-bottom:4px solid #9ea7af;
  /*border-right: 1px solid #343a45;*/
  font-size:23px;
  font-weight: 100;
  padding:24px;
  text-align:left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align:middle;
}

th:first-child {
  border-top-left-radius:3px;
}

th:last-child {
  border-top-right-radius:3px;
  border-right:none;
}


/*tr:hover td {
  background:#4E5066;
  color:#FFFFFF;
  border-top: 1px solid #22262e;
}*/

tr:first-child {
  border-top:none;
}

tr:last-child {
  /*border-bottom:none;*/
}

tr:nth-child(odd) td {
  /*background:#EBEBEB;*/
}

/*tr:nth-child(odd):hover td {
  background:#4E5066;
}*/

tr:last-child td:first-child {
  border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius:3px;
}

td {
  /*background:#FFFFFF;*/

  text-align:left;
  vertical-align:middle;
  font-weight:300;
  font-size:18px;
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
  /*border-right: 1px solid #C1C3D1;*/
}

td:last-child {
  border-right: 0px;
}

th.text-left {
  text-align: left;
}

th.text-center {
  text-align: center;
}

th.text-right {
  text-align: right;
}

td.text-left {
  text-align: left;
}

td.text-center {
  text-align: center;
}

td.text-right {
  text-align: right;
}



/**extra table details**/
td .saddle {
    box-shadow: inset 0px -1px 0 rgba(0,0,0,0.15), inset 0px 1px 0 rgba(255,255,255,0.05);

}
.saddle {
    display: block;
    font-family: "expressway","museo-sans","Helvetica Neue",sans-serif;
    font-size: 1em;
    font-weight: 300;
    line-height: 28px;
    width: 40px;
    height: 36px;
    margin: 0;
    padding: 4px 10px 4px 20px;
    background: #999;
    border-radius: 2px;
    text-align: right;
    -webkit-transition: 0.5s all ease-out;

    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}

.saddle-1, .saddle-1A, .saddle-1X {
    background-color: #e13838;
    color: #fff;
}

.saddle-2 {
    background-color: #f5f5f5;
    color: #000;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

.saddle-3 {
    background-color: #295fcc;
    color: #fff;
}

.saddle-4 {
    background-color: #fff200;
    color: #000;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

.saddle-5 {
    background-color: #4d801a;
    color: #fff;
}

.saddle-6 {
    background-color: #2e3033;
    color: #fff200;
}

.saddle-7 {
    background-color: #e67300;
    color: #000;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

.saddle-8 {
    background-color: #ff3399;
    color: #000;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

.saddle-9 {
    background-color: #33cccc;
    color: #000;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.1);
}

.saddle-10 {
    background-color: #800080;
    color: #fff;
}

.saddle-11 {
    background-color: #bfbfbf;
    color: #ad0000;
}

.text-style-body-2 {
    font-size: 19px;
    font-weight: 300;
    vertical-align: baseline;
    margin: 0;
    margin-left: 10px;
    padding: 0;
    box-sizing: border-box;
    color: rgba(255,255,255,0.8);

}

.text-style-footnote {
  color: #8D8F90;
  opacity: 0.75;
  font-size: 11px;
  font-weight: 500;
  line-height: 1.54;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
  margin-left: 10px;

}


.saddle-entry {
  margin-left: 10px;
}

.entry-other {
  margin-left: 10px;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom-: 1px solid #C1C3D1;
  color:#666B85;
  font-size:16px;
  font-weight:normal;
  text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}





/***race nav*****/
.race-day-live-double-layout>._racing>._menu {
    padding: 6px 10px;
    text-align: center;
}

body.page-alias-live .region-cell {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.race-day-live-double-layout .shaded {
    background-color: rgba(0,0,0,0.1);
}

.race-day-race-menu a.active-state {
    opacity: 1;
}

.race-day-race-menu-button, .race-day-race-menu a, .race-day-race-menu:hover a, .race-day-race-menu:hover a.active-state {
    display: inline-block;
    line-height: 1.1;
    min-width: 40px;
    color: inherit;
    opacity: 0.4;
    text-align: center;
    transition: opacity 0.2s;
}

.race-day-race-menu-button var, .race-day-race-menu a var, .race-day-race-menu:hover a var, .race-day-race-menu:hover a.active-state var {
    display: block;
}

.race-day-live-double-layout>._racing .race-day-race-menu {
    display: block;
}

.race-day-race-menu {
    display: inline-block;
    overflow-x: auto;
    overflow-wrap: scroll;
    white-space: nowrap;
    margin-left: 30%;
}

.race-day-race-menu-button:hover span, .race-day-race-menu a:hover span, .race-day-race-menu:hover a.active-state:hover span, .race-day-race-menu-button:hover time, .race-day-race-menu a:hover time, .race-day-race-menu:hover a.active-state:hover time, .race-day-race-menu-button.active-state span, .race-day-race-menu a.active-state span, .race-day-race-menu-button.active-state time, .race-day-race-menu a.active-state time {
    visibility: visible;
}
.race-day-race-menu-button span, .race-day-race-menu a span, .race-day-race-menu:hover a span, .race-day-race-menu:hover a.active-state span, .race-day-race-menu-button time, .race-day-race-menu a time, .race-day-race-menu:hover a time, .race-day-race-menu:hover a.active-state time {
    visibility: hidden;
}
.text-effect-dimmer, .text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote, a.hinted, .secondary-events a.time, button.hinted, .secondary-events button.time, [role="button"].hinted, .primary-event-info h2 span[role="button"], .secondary-events [role="button"].time {
    opacity: 0.75;
}


.text-effect-dim, .text-style-caption-2, .text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote, .hinted, .primary-event-info h2 span, .secondary-events .time {
    color: #8D8F90;
}
.text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote {
    font-size: 11px;
    font-weight: 500;
}


.text-effect-dimmest, .text-style-fineprint, .race-day-race-menu-button time, .race-day-race-menu a time, .race-day-race-menu:hover a time, .race-day-race-menu:hover a.active-state time {
    opacity: 0.4;
}

.text-effect-dimmer, .text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote, a.hinted, .secondary-events a.time, button.hinted, .secondary-events button.time, [role="button"].hinted, .primary-event-info h2 span[role="button"], .secondary-events [role="button"].time {
    opacity: 0.75;
}

.text-effect-dim, .text-style-caption-2, .text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote, .hinted, .primary-event-info h2 span, .secondary-events .time {
    color: #8D8F90;
}

.text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote {
    font-size: 11px;
    font-weight: 500;
}

.text-style-caption, .text-style-caption-2, .text-style-footnote, .text-style-citation, .text-style-insight-label, .insight-label, thead th, .footnote, .text-style-reference, td, th, .caption {
    font-size: 13px;
    font-weight: 500;
    line-height: 1.54;
}

time {
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.race-day-race-menu var {
    cursor: pointer;
}

.title-family-2 {
    font-family: "expressway","museo-sans","Helvetica Neue",sans-serif !important;
}

.text-style-heading {
    font-size: 25px;
    font-weight: 300;
    line-height: 1.45;
}
